html, body {
  margin: 0;
  height: 500px;
  width: 700px;

  background-color: #35363a;
  color: #EEE;
  fill: #EEE;
  user-select: none;
  font-family: sans-serif;
  font-size: 12px;
}

body {
  display: flex;
}

.scripts {
  width: 200px;
  height: 100%;
  border-right: 1px solid #47484e;
}

.scripts-header, .content-header {
  border-bottom: 1px solid #47484e;
  display: flex;
  align-items: center;
  height: 35px;
}

.scripts-header-title {
  font-weight: bold;
  margin: 0.5rem;
  margin-right: auto;
}

.scripts-header-action, .content-header-action {
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 100ms ease;
}

.scripts-header-action:hover, .content-header-action:hover {
  background-color: #47484e;
}

.scripts-list {
  max-height: 464px;
  overflow: auto;
}

.scripts-item {
  padding: 0.5rem;
  border-bottom: 1px solid #47484e;
  cursor: pointer;
  transition: background-color 100ms ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 1rem;
}

.scripts-item:hover {
  background: #3c3d42;
}

.scripts-item.active {
  background: #47484e;
}

.content {
  width: 499px;
  display: flex;
  flex-flow: column;
}

.content-header {
}

.content-header-title, .content-footer-hostname {
  width: 300px;
  margin: 0.25rem;
  margin-right: auto;
  background: none;
  color: #EEE;
  border: none;
  padding: 0.25rem;
  outline: none;
  transition: all 100ms ease;
  border: 1px solid rgba(0,0,0,0);
}

.content-header-title:focus, .content-footer-hostname:focus {
  border: 1px solid #47484e;
}

.content-editor {
  flex: 1;
}

.CodeMirror {
  max-height: 428px;
  height: 100%;
  overflow: hidden;
}

.content-footer {
  border-top: 1px solid #47484e;
  display: flex;
  align-items: center;
  height: 35px;
}

.content-footer-mode {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  border: none;
  color: #EEE;
  text-align: right;
  margin: 0.5rem;
  padding: 0.25rem;
}

.content-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-placeholder-text {
  color: #6e6f72;
}

.hide {
  display: none;
}

@media (prefers-color-scheme: light) {
  html, body {
    background-color: #FFF;
    color: #222;
    fill: #222;
  }

  .scripts {
    border-right: 1px solid #cfd0d1;
  }

  .scripts-header, .content-header {
    border-bottom: 1px solid #cfd0d1;
  }

  .scripts-header-action:hover, .content-header-action:hover {
    background-color: #cfd0d1;
  }

  .scripts-item {
    border-bottom: 1px solid #cfd0d1;
  }

  .scripts-item:hover {
    background: #dddede;
  }

  .scripts-item.active {
    background: #cfd0d1;
  }

  .content-header-title, .content-footer-hostname {
    color: #222;
  }

  .content-header-title:focus, .content-footer-hostname:focus {
    border: 1px solid #cfd0d1;
  }

  .content-footer {
    border-top: 1px solid #cfd0d1;
  }

  .content-footer-mode {
    color: #222;
  }

  .content-placeholder-text {
    color: #6e6f72;
  }

  .cm-s-material.CodeMirror {
    background-color: #FFFFFF;
    color: #222;
  }

  .cm-s-material .CodeMirror-gutters {
    background: #FFFFFF;
    color: #777;
    border: none;
  }

  .cm-s-material .CodeMirror-guttermarker,
  .cm-s-material .CodeMirror-guttermarker-subtle,
  .cm-s-material .CodeMirror-linenumber {
    color: #777;
  }
}
